{% extends 'base.html.twig' %}

{% block title %}Deadalus - Escape mobile{% endblock %}

{% block body %}
{# <div id="mobile">
    <h1 id="mobileH1">Nos escape game a domicile</h1>
    <h2 id="mobileH2">L'escape game qui s'invite chez vous !</h2>
</div> #}
<div>
    <div class="mobileBack" style="background-image: url(/room/{{thisMobile.background}})">
        <p class="mobileTitle">{{thisMobile.title}}</p>
        <p class="mobileNb">{{thisMobile.nbPlayer}}</p>
        {% if thisMobile.link and thisMobile.button != null %}
            <a href="{{thisMobile.link}}" class="btn btnGame">{{thisMobile.button}}</a>
        {% endif %}
        <div>
            <iframe class="videoGame" width="1060" height="515" src="{{thisMobile.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <img src="/room/{{thisMobile.image}}" class="mobileImg" alt="">
    </div>
</div>
{% endblock %}
