{% extends 'baseAdmin.html.twig' %}

{% block title %}Gestion des salles{% endblock %}

{% block body %}
<div id="allRoom" class="container">
    <h1>Gestion des salles</h1>
    {% for message in app.flashes('success') %}
    <div class="container alert alert-success text-center" id="alertInfo">
        {{message}}
    </div>
    {% endfor %}
    <a href="{{path('newRoom')}}" class="btn btnAdmin my-4">Ajouter une salle</a>
    <div class="card p-3">
        <table class="table table-hover text-center">
            <thead class="tableAdmin text-white text-center">
                <th>Nom</th>
                <th>Action</th>
            </thead>
           {% for room in rooms %}
                <tbody class="text-white">    
                    <td>{{room.title}}</td>
                    <td>
                        <a href="{{path('editRoom', {id:room.id})}}" class="btn btnAdmin"><i class="fas fa-eye"></i></a>
                        <form method="POST" style="display:inline-block" action="{{path('delRoom', {id:room.id})}}"
                            onsubmit="return confirm('Confirmer la suppression)">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ room.id)}}">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                        </form>
                    </td>
                </tbody>
           {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
